<update-title title="Password Recover"></update-title>
<update-meta name="description" content="Recover password for HUEDATA account"></update-meta>
<update-meta name="keywords" content="Password recover, password, HUEDATA recover password"></update-meta>


<div class="login-page">
  <section>
    <div class="container-fluid text-center title">
      <div class="row">
        <div class="col-lg-12">
          <h3 ng-if="$ctrl.type === 's'">Set the Password on Your HUEDATA Account</h3>
          <h3 ng-if="$ctrl.type !== 's'">Recover the Password on Your HUEDATA Account</h3>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="success afade text-center" ng-show="$ctrl.successRequest">
          <div class="col-lg-12">
            <b class="black-text" ng-if="$ctrl.type === 'set'">Password on Your HUEDATA Account has been successfully
              changed</b>
            <b class="black-text" ng-if="$ctrl.type !== 'set'">Password on Your HUEDATA Account has been successfully
              set</b>
          </div>
        </div>

        <div class="login-container text-center">
          <div ng-hide="$ctrl.successRequest">
            <div ng-show="$ctrl.error" class="error-message afade text-left">
              <span>ERROR: </span>{{$ctrl.error}}
            </div>
            <input type="password" ng-model="$ctrl.password" name="password" placeholder="ENTER YOUR PASSWORD">
            <input type="password" ng-focus="$ctrl.error = false" ng-model="$ctrl.passwordConfirm"
                   name="passwordConfirm"
                   placeholder="CONFIRM YOUR PASSWORD">
          </div>
          <div class="login-btn" style="padding: 30px 0 40px; text-align: center">
            <button ng-click="$ctrl.onSendLoginClick()" class="btn" style="padding: 15px 50px;">
              {{$ctrl.successRequest ? 'LOGIN' : 'SEND'}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>