<div class="db-top-colors row">
  <div class="bar-section col-sm-8">
    <canvas id="doughnut" class="chart_i chart-doughnut" chart-data="chartdata" chart-labels="labels" chart-colors="color" chart-options="option">
    </canvas>
  </div>
  <div class="color-info-container col-sm-4" ng-class="{'color-selected': isColorSelected()}">
    <div class="color-info" ng-repeat="item in data" ng-click="toggleColor($index)"
         ng-class="{active: isColorSelected($index)}">      
      <div class="color-title" ng-style="{'border-color': item.color.hex}" style="width: 17%;">
        <div class="color-value" style="padding-top: 5px">{{item.percentage.toFixed()}}<span class="color-value-unit">%</span></div>
      </div>
    </div>
  </div>

  <div class="color_chart">
    <div>
      <canvas id="doughnut" class="chart_i chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="color" chart-options="option">
      </canvas>
    </div>
  </div>
</div>
<style type="text/css">
  .db-top-colors .bar-section{
    position: absolute;
    width: 120%; 
    margin-left: -50px;
    float: left;
  }
  .db-top-colors .color-info-container{
    width: 12%; float: right;
  }
  @media (max-width: 1508px) and (min-width: 1395px){    
    .db-top-colors .bar-section{
      position: absolute;
      width: 110%; 
      margin-left: -24px;
      float: left;
    }    
    .db-top-colors .color-info-container .color-info{
      height: 27px !important;
    }
    .db-top-colors .color-info-container{
    margin-left: 50px !important;
      float: right;
    }
  }
  @media (max-width: 1394px) and (min-width: 1205px){    
    .db-top-colors .bar-section{
      position: absolute;
      width: 135%; 
      margin-left: -30px;
      float: left;
    }    
    .db-top-colors .color-info-container .color-info{
      height: 30px !important;
    }
    .db-top-colors .color-info-container{
      margin-left: 50px !important;
      float: right;
    }
  }
  @media (max-width: 1204px) and (min-width:920px){    
    .db-top-colors .bar-section{
      position: absolute;
      width: 144%; 
      margin-left: -10px;
      float: left;
    }    
    .db-top-colors .color-info-container{
    margin-left: 25px !important;
      float: right;
    }
    .db-top-colors .color-info-container .color-info{
      height: 25px !important;
    }
  }
  @media (max-width: 919px) and (min-width:768px){    
    .db-top-colors .bar-section{
      position: absolute;
      width: 135%; 
      margin-left: -10px;
      float: left;
    }    
    .db-top-colors .color-info-container .color-info{
      height: 19px !important;
    }
    .db-top-colors .color-info-container{
    margin-left: 25px !important;
      float: right;
    }
  }
  @media (max-width: 1808px) and (min-width: 1509px){    
    .db-top-colors .bar-section{
      position: absolute;
      width: 100%; 
      margin-left: -38px;
      float: left;
    }    
    .db-top-colors .color-info-container{
      margin-left: 50px !important;
      float: right;
    }
  }
  @media (max-width: 767px) and (min-width: 367px) {    
    .db-top-colors .bar-section{
      position: absolute;
      width: 135%; 
      margin-left: -7px;
      float: left;
    }    
    .db-top-colors .color-info-container .color-info{
      height: 15px !important;
    }
  }
</style>