<div ng-controller="attributeBrandingController">

  <div class="dashboard-container dashboard-branding-attribute" ng-if="showDashboard">

    <hue-db-header header-title="title" header-subtitle="subtitle" page-info="pageInfo"></hue-db-header>

    <div class="dashboard-row dashboard-attribute" ng-if="topColorsData.length > 0">
      <div class="dashboard-cell cell-left">
        <div class="module-title">Top four Colors <img src="assets/img/icons/expand.svg" class="icon-expand"
                                                              ng-click="toggleTopColorsExpandedMode()"/>
          <hue-db-info-icon text-key="top_colors"></hue-db-info-icon>
            <p style="font-size: 11px !important; font-weight: bold;margin-top: -5px">assiociated with {{title}}</p>
        </div>
        <hue-db-top-colors data="topColorsData"></hue-db-top-colors>
      </div>
      <div class="dashboard-cell cell-right">
        <div class="cell-top-industries">
          <div class="module-title" style="width: 22%; float: left">Top Industries <img src="assets/img/icons/expand.svg" class="icon-expand"
                                                              ng-click="toggleTopColorsExpandedMode()"/>
          <hue-db-info-icon text-key="top_colors"></hue-db-info-icon><p style="font-size: 11px !important; font-weight: bold;margin-top: -5px">using {{title}} colors</p>
          </div>
          <hue-db-top-industries data="topIndustriesData" chart-color="topIndustriesColor"></hue-db-top-industries>
        </div>
        <div class="cell-popular-combinations">
          <div class="module-title">
            Color Combination Frequency For {{title}} <img src="assets/img/icons/expand.svg" class="icon-expand"
                                                           ng-click="toggleColorFrequencyExpandedMode()"/>
            <hue-db-info-icon text-key="color_freq"></hue-db-info-icon>
            
          </div>
          
        </div>
      </div>
    </div>

  </div>

</div>

