<update-title title="The Color Naming Index"></update-title>
<!--<update-meta name="description" content="color index, color decision tools, color analysis tools"></update-meta>-->
<!--<update-meta name="keywords" content="Color Emotion Connections index, color emotions, color emotion theory,-->
<!--color and emotion research, color emotion associations, Color Celebrity index, Color Naming index, Color Names Index,-->
<!--Color Preference Index, Global Colors index, Color in Soccer index, Color Twits Index, color dictionary, Color social media"></update-meta>-->

<h4 class="text-left membership-product">HUEDATA MEMBERSHIP PRODUCT</h4>

<section id="color-emotion-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h3 id="color-picker-page_text" class="color-ind">Color Indices - AVAILABLE FALL 2018</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 buttons-group title-color-index-block">
                <div class="title-color-index">The Color Naming Index</div>
                <div class="button membership">
                    <button class="btn white-btn" ui-sref="productInquiry">PRODUCT INQUIRY</button>
                </div>
                <div class="line"></div>
            </div>

        </div>
    </div>
</section>
<section class="bg-color-picker-block">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-12 col-md-12 ">
                <h5 class="title-link-color-picker h-data ng-binding color-picker-title">WHAT COLOR NAMES ARE ASSOCIATED WITH MY COLOR SELECTION? </h5>
                <div class="color-picker-title-img"><img class="color-picker-img" src="../assets/images/picker.png" alt=""></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 color-piker-item_canvas">
                <hue-db-color-picker></hue-db-color-picker>
            </div>
            <div class="col-lg-4 col-md-4 color-piker-item">
                <div class="color-picker-title-img"><img src="../assets/images/arrow_picker.png" alt=""></div>
            </div>
            <div class="col-lg-4 col-md-4 color-piker-item">
                <div id="color_id"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="button button-color-picker scroll_down">
                    <button ng-click="$ctrl.searchByRGB()" class="btn join-btn">LET'S START</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section id="education-top" class="scroll-end">-->
    <!--<div class="container-fluid ">-->
        <!--<div class="row color-names-block">-->
            <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
                <!--<div class="color-names-index_item">-->
          <!--<span class="big-num-color-naming" ng-if="$ctrl.numOfcolorAssociationNames">-->
            <!--{{$ctrl.numOfcolorAssociationNames}}-->
          <!--<div class="modal-color-naming">-->
            <!--<div class="modal-color-naming_text">-->
              <!--The Colourlovers Database is composed of nearly one million colors uploaded and named by the 1.6 members of the Colourlovers community <p>(www.colourlovers.com)</p>-->
            <!--</div>-->
          <!--<div class="triangle-with-shadow"></div>-->
          <!--</div>-->
        <!--</span>-->
                    <!--<span class="big-num-color-naming" ng-if="$ctrl.numOfcolorAssociationNames == 0 ">-->
                        <!--0-->
                    <!--</span>-->
                    <!--<div class="title-color-naming">-->
                        <!--<span>COLOR  </span>-->
                        <!--<span>  ASSOCIATION</span>-->
                        <!--<span>  NAMES</span>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
                <!--<div class="color-names-index_item">-->
          <!--<span class="big-num-color-naming" ng-if="$ctrl.numOfpaintColorNames">-->
            <!--{{$ctrl.numOfpaintColorNames}}-->
          <!--<div class="modal-color-naming">-->
            <!--<div class="modal-color-naming_text">-->
              <!--The Colourlovers Database is composed of nearly one million colors uploaded and named by the 1.6 members of the Colourlovers community <p>(www.colourlovers.com)</p>-->
            <!--</div>-->
          <!--<div class="triangle-with-shadow"></div>-->
          <!--</div>-->
          <!--</span>-->
                    <!--<span class="big-num-color-naming" ng-if="$ctrl.numOfpaintColorNames == 0 ">-->
                        <!--0-->
                    <!--</span>-->
                    <!--<div class="title-color-naming">-->
                        <!--<span>PAINT  </span>-->
                        <!--<span>  COLOR</span>-->
                        <!--<span>  NAMES</span>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
            <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
                <!--<div class="color-names-index_item">-->
          <!--<span class="big-num-color-naming">-->
            <!--0-->
          <!--<div class="modal-color-naming">-->
            <!--<div class="modal-color-naming_text">-->
              <!--The Colourlovers Database is composed of nearly one million colors uploaded and named by the 1.6 members of the Colourlovers community <p>(www.colourlovers.com)</p>-->
            <!--</div>-->
          <!--<div class="triangle-with-shadow"></div>-->
          <!--</div>-->
          <!--</span>-->
                    <!--<div class="title-color-naming">-->
                        <!--<span>COLOURLOVERS  </span>-->
                        <!--<span>  COLOR</span>-->
                        <!--<span>  NAMES</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-3 col-md-3 col-sm-3">-->
                <!--<div class="color-names-index_item">-->
          <!--<span class="big-num-color-naming" ng-if="$ctrl.numOfpaintColorNames">-->
            <!--{{$ctrl.numOfpaintColorNames}}-->
          <!--<div class="modal-color-naming">-->
            <!--<div class="modal-color-naming_text">-->
              <!--The Colourlovers Database is composed of nearly one million colors uploaded and named by the 1.6 members of the Colourlovers community <p>(www.colourlovers.com)</p>-->
            <!--</div>-->
          <!--<div class="triangle-with-shadow"></div>-->
          <!--</div>-->
          <!--</span>-->
                    <!--<span class="big-num-color-naming" ng-if="$ctrl.numOfpaintColorNames == 0 ">-->
                        <!--0-->
                    <!--</span>-->
                    <!--<div class="title-color-naming">-->
                        <!--<span>RESEARCH  </span>-->
                        <!--<span>  COLOR</span>-->
                        <!--<span>  NAMES</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="center-color-block">-->
                <!--<div class="button">-->
                    <!--<a class="btn join-btn" ng-click="$ctrl.searchByShortNames()">NEXT</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
