<update-title title="Thank You"></update-title>
<update-meta name="description" content="Thank you for inquiry"></update-meta>
<update-meta name="keywords" content="Thank you, thank page"></update-meta>

<section>
  <div class="container-fluid  text-center title" style="padding-bottom: 1px">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-lg-offset-4">
        <h3>Thank You</h3>
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid text-left" style="min-height: 400px;">
    <h3 ng-if="!$ctrl.membership" style="font-size: 19pt; text-align: center">Thank you for contacting HUEDATA. We`ll get back to you shortly!</h3>
    <!--<h3 ng-if="$ctrl.membership">{{$ctrl.text}}</h3>-->
    <!--<div class="thanksDiv">-->
      <!--<div class="thanksText">-->
        <!--<strong>Not a member? Learn more about HUEDATA Membership.</strong>-->
      <!--</div>-->
      <!--<div>-->
        <!--<button class="thanksBtn" ui-sref="membership({scrollTo: true})">-->
          <!--Learn More-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div>-->
      <!--<div class="thanksText">-->
        <!--<strong>Stay current on HUEDATA news and insights.</strong>-->
      <!--</div>-->
      <!--<div>-->
        <!--<button class="btn" style="font-size: 13px; padding: 15px 20px 15px 20px; min-width: 134px;">Email Sign Up-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
</section>