<update-title title="The Color Naming Index"></update-title>
<!--<update-meta name="description" content="color index, color decision tools, color analysis tools"></update-meta>-->
<!--<update-meta name="keywords" content="Color Emotion Connections index, color emotions, color emotion theory,-->
<!--color and emotion research, color emotion associations, Color Celebrity index, Color Naming index, Color Names Index,-->
<!--Color Preference Index, Global Colors index, Color in Soccer index, Color Twits Index, color dictionary, Color social media"></update-meta>-->

<h4 class="text-left membership-product">HUEDATA MEMBERSHIP PRODUCT</h4>

<section id="color-emotion-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="color-ind">Color Indices - AVAILABLE FALL 2018</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 buttons-group title-color-index-block">
        <div class="title-color-index">The Color Naming Index</div>
        <div class="button membership">
          <button class="btn white-btn" ui-sref="productInquiry">PRODUCT INQUIRY</button>
        </div>
        <div class="line"></div>
      </div>


    </div>
  </div>
</section>

<section id="education-top">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-6 col-md-6 ">
        <div class="color-naming-block-desc">
          <h5 class="title-link-color-picker h-data ng-binding">I AM THINKING OF THIS COLOR AND WANT TO LEARN NOW ITS CALLED </h5>
          <img id="color-naming-block-desc_img_2" src="../assets/images/picker.svg" alt="">
          <div class="button">
            <a class="btn join-btn color-index-btn" ui-sref='colorPicker' >LET'S START</a>
          </div>
        </div>
      </div>


     <div class="col-lg-6 col-md-6 ">
      <div class="color-naming-block-desc">
        <h5 class="title-link-color-picker h-data ng-binding">I WANT TO LEARN WHAT COLOR IS ASSOCIATED WITH THIS COLOR NAME </h5>
        <img id="color-naming-block-desc_img_1" src="../assets/images/pen.svg" alt="">
        <div class="button">
          <a class="btn join-btn color-index-btn" ui-sref='colorIndexSearch'>LET'S START</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<!--<section id="education">-->
  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-4 col-md-4  col-sm-12 indices-block">-->
        <!--<h5>Performance Analysis</h5>-->
        <!--<p>Search for the meaning of colors using the two available color-->
          <!-- - attribute associations classifications:<br><br></p>-->
        <!--<div class="left">-->
          <!--<div class="color-ind-bar"><img src="../assets/images/emontional.png" alt="Image">-->
            <!--<span>EMOTIONAL ATTRIBUTES INDEX</span>-->
          <!--</div>-->

          <!--<div class="color-ind-bar"><img src="../assets/images/non-emontional.png"-->
                                <!--alt="Image">-->
            <!--<span>NON-EMOTIONAL ATTRIBUTES INDEX</span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-lg-4 col-md-4 col-sm-12 indices-block">-->
        <!--<h5>CEI Interactive Color Upload</h5>-->
        <!--<p>Stress-test the colors you’re considering agains the CEI to validate the-->
          <!--colors evoke the attributes you’re looking for within the relevant-->
          <!--product and demographic context. Simply upload your colors and we’ll-->
          <!--analyze them for you.</p>-->
        <!--<img src="../assets/images/indices2.png" class="img-responsive " alt="Image">-->
      <!--</div>-->

      <!--<div class="col-lg-4 col-md-4 col-sm-12 indices-block">-->
        <!--<h5>COLOR NAMING INDEX</h5>-->
        <!--<p>With nearly 10 million color names in our system, HUEDATA-->
          <!--can help you name your color right. Explore our color naming-->
          <!--visualizations to identify best ways to communicate your color-->
          <!--selection.<br><br></p>-->
        <!--<img src="../assets/images/indices3.png" class="img-responsive  text-center" alt="Image">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
