<update-title title="Unsubscribe"></update-title>
<update-meta name="description" content="Unsubscribe page"></update-meta>
<update-meta name="keywords" content="Unsubscribe, unsubscribe page"></update-meta>

<section>
  <div class="container-fluid  text-center title" style="padding-bottom: 1px">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-lg-offset-4 unsubscribe-div">
        <h3>{{$ctrl.success ? 'Your email was successfully unsubscribe' : 'Something wrong, please try again later'}}</h3>
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>

<section class="min-h">

</section>