.db-single-line-chart {
	width: 1200px;
	height: 220px;
	position: relative;
	margin: 0 auto 25px auto;

	.graph {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50px;
		right: 0;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
