<div class="cart-surve-modal">
  <div class="container-fluid">
    <button class="close" ng-click="cancel()" style="outline: none;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="memberOnlyTitle">Remove item from cart</h4>
    </div>
  </div>
  <div class="row">
    <div>
      <div class="col-sm-12">
        <h4>Are you sure you want to delete this product?</h4>
        <div id="test-test" class="cart-modal-btn-group">
          <button class="btn white-btn" ng-click="cancel()">NO</button>
          <button class="btn" ng-click="img();cancel();">YES</button>
        </div>
      </div>
    </div>
  </div>
</div>