<update-title title="Terms of Use"></update-title>
<update-meta name="description" content="HUEDATA terms of Use"></update-meta>
<update-meta name="keywords" content="Terms of Use, HUEDATA terms"></update-meta>

<section>
  <div class="container-fluid text-center" ng-init="$ctrl.init()">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-lg-offset-4">
        <h3><b>{{$ctrl.pageData.title}}</b></h3>
        <div class="line"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div ng-bind-html="$ctrl.pageData.editor" style="text-align: justify">

  </div>
</section>
