.db-carousel {
	position: relative;
	width: 100%;
	height: 100%;

	.carousel-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.carousel-element {
			position: absolute;
			top: 0;

			&.element-animated {
				transition: all 200ms ease-out;
				-webkit-transition: all 200ms ease-out;
				-moz-transition: all 200ms ease-out;
				-o-transition: all 200ms ease-out;
				-ms-transition: all 200ms ease-out;
			}
		}
	}

	.carousel-button {
		position: absolute;
		width: 80px;
		height: 100%;
		top: 0;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&.button-prev {
			background: url(../../../assets/img/icons/arrow-left.svg) no-repeat center right;
			background-size: 15px;
			left: 0;
		}

		&.button-next {
			background: url(../../../assets/img/icons/arrow-right.svg) no-repeat center left;
			background-size: 15px;
			right: 0;
		}
	}
}
