.dashboard-branding-attribute {
  .dashboard-row.dashboard-attribute {
    height: 410px;

    .dashboard-cell.cell-right {
      padding: 0;
    }

    .cell-top-industries {
      width: 100%;
      height: 200px;
      border-bottom: 1px solid #ccc;
      float: left;
      padding: 0 15px;
    }

    .cell-popular-combinations {
      width: 100%;
      height: 210px;
      float: left;
      padding: 0 15px;
    }

    .db-top-colors {
      height: 325px;

      .color-info-container .color-info {
        margin-bottom: 76px;
      }
    }
  }
}
