.dashboard-row.dashboard-brand-row-second {
	width: 100%;
	display: table;
	min-height: 440px;

	.dashboard-cell {
		display: table-cell;
		float: none;
	}

	.dashboard-cell.cell-right {
		padding: 0;
	}

	.cell-color-frequency {
		height: 220px;
		padding: 0 15px;
		border-bottom: 1px solid #ccc;
	}

	.cell-color-palette {
		padding: 0 15px;
	}

	.db-color-count-by-model {
		.color-count-row {
			height: 41px;
		}

		.color-count {
			font-size: 15px;
			text-transform: uppercase;
			line-height: 36px;
			vertical-align: top;
		}
	}
}
.dashboard-header .header-page-info .info-cell.cell-2{
	width:75%;
}
.db-map .map-container .map-attributes li{
	border-right:0px solid #808080 !important;
	color: #80808063 !important;
	font-family:"Open Sans" !important;
	font-size:9.8pt !important;
	padding-right:2px !important;
}
.db-map .map-container .color-line{
	border-bottom:0px solid #ccc !important;
}
.dashboard-header .cell-title{
	font-size:18pt !important;
	font-family:"Open Sans" !important;
}

.dashboard-header .cell-content .cell-subtitle{
	font-size:11pt !important;
	font-family:"Open Sans" !important;
}
.dashboard-header .cell-content .cell-title{
	font-size:18pt !important;
	font-weight:bold !important;
}
.dashboard-header{
	height:130px !important;
}
.db-map .map-container .map-attributes li.active{
	color: rgb(0,0,0) !important;
}
.dashboard-cell p{
	font-size:9.8pt !important;
	font-family:"Open Sans" !important;
}
.dashboard-header .header-page-info .info-cell.cell-description .description-container.three-lines{
	bottom:36px !important;
}
.db-map .map-container{
	width: 23% !important;
	margin:0 1%;
	margin-left:-30px;
	font-family:"Open Sans" !important;
}
.show-button{
	font-family:"Open Sans" !important;
}
.dashboard-row .dashboard-cell.cell-left{
	width:28% !important;
}
.db-map{
	width:100% !important;
}
.dashboard-row.row-220{
	height:290px !important;
}
.dashboard-header .header-page-info .info-cell.cell-description .show-button{
	margin:0px;

}
.db-color-frequency{
	height: 55% !important;
}
.dashboard-header .header-page-info .info-cell.cell-description .description-container{
	bottom:31px !important
	top:38px !important;
}
.show-button{
	font-size:11.25pt !important;
	color:rgb(187,0,118) !important;
}
.header-title .cell-subcontainer{
	margin-left:20px;
	width:50% !important;
}
.colss-8 {
  width: 12.5%;
}

.cols-2 {
  width: 16.66%;
}

@media (max-width: 900px) {
  .col-md-1 {
    width: 25% !important;
  }

  .col-md-2 {
    width: 50%;
  }

  .col-md-3 {
    width: 75%;
  }

  .col-md-4 {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .colss-2 {
    width: 16.66%;
  }
}


.search-container {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.sub-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		padding: 20px 0;

		.color-bar {
			width: 30px;
			height: 100px;
			float: left;
			cursor: pointer;
		}

		h4 {
			margin: 0;
			text-align: center;
		}
	}
}
