.dashboard-branding-color {
  .dashboard-row.dashboard-color {
    height: 425px;

    .db-top-colors {
      height: 340px;

      .color-info-container .color-info {
        margin-bottom: 81px;
      }
    }

    .dashboard-cell.cell-right {
      padding: 0;
    }

    .cell-top-industries {
      width: 100%;
      height: 200px;
      border-bottom: 1px solid #ccc;
      float: left;
      padding: 0 15px;
    }

    .cell-popular-combinations {
      width: 100%;
      height: 225px;
      float: left;
      padding: 0 15px;
    }
  }
}

