.db-copyrights-over-time {
	width: 100%;
	height: 170px;
	position: relative;

	.graph-legend {
		position: absolute;
		right: 0;
		height: 20px;

		.legend-item {
			display: inline-block;
			font-family: 'Oswald';
			font-size: 14px;
			text-transform: uppercase;
			line-height: 20px;
			margin-left: 15px;

			.color-box {
				width: 30px;
				height: 20px;
				border: 1px solid #ccc;
				margin-left: 5px;
				float: right;

				&.item-usa {
					background-color: #F00;
				}

				&.item-int {
					background-color: #000;
				}
			}
		}
	}

	.graph {
		position: absolute;
		top: 20px;
		width: 100%;
		height: 150px;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.db-copyrights-over-time-range-selector {
	display: inline;
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
	color: #bababa;

	li {
		display: inline;
		cursor: pointer;
		margin-right: 10px;
		text-transform: uppercase;

		&:hover, &.active {
			color: #727272;
		}
	}
}
