.db-color-frequency-by-category {
  width: 100%;
  height: 135px;
  text-align: center;

  .category-item {
    height: 100px;
    text-align: left;
    display: inline-block;
    margin-right: 15px;

    .category-chart {
      width: 100px;
      height: 100%;
      display: inline-block;
    }

    .category-icon {
      width: 60px;
      height: 100%;
      display: inline-block;

      svg {
        width: 60px;
        height: 100px;
      }
    }

    .category-caption {
      height: 100%;
      display: inline-block;
      font-family: 'Oswald';
      font-size: 14px;
      text-transform: uppercase;

      .category-percentage {
        font-size: 24px;
      }

      .category-percentage-unit {
        font-family: "Gotham SSm A";
        font-size: 16px;
      }
    }
  }
  .category-item:last-child {
    margin-right: 0;
  }

}
