<update-title title="Our Color Intelligence Enhances Your Color Decision"></update-title>
<update-meta name="description" content="Color Intelligence Enhances Your Color Decision"></update-meta>
<update-meta name="keywords" content="Color Intelligence, Color Decisions, Color analytics, Color insights, Color inspiration,
Color validation, Color information, Color dataset, Color database, Color design, Color strategy, color big data"></update-meta>

<section class="landing">
  <div class="container-fluid  text-center">
    <div class="logo">
      <a style="padding-left: 40px; position: relative">
        <svg version="1.1" id="Warstwa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	        width="389px" height="92px" viewBox="29.49 5.998 389 92" enable-background="new 29.49 5.998 389 92" xml:space="preserve">
          <g>
          	<path id="H" d="M32.536,28.032H46.98v19.5h18.417v-19.5H79.84v51.999H65.396v-19.68H46.979v19.682H32.536V28.032z"/>
          </g>
          <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="106.02" y1="13.046" x2="106.02" y2="94.294"/>
        </svg>
        <img class="landing-logo" src="../assets/images/huedata.png" id="logo" alt="logo">
      </a>
    </div>
  </div>

  <div class="container-fluid  menu text-center">
    <ul>
      <li><a href="#!/fashion-color-trends" class="outline-style">Color<br>Trends</a>
        <p>Our Color Intelligence</p>
      </li>
      <li><a href="#!/color-research" class="outline-style">Color<br>Research</a>
        <p>Color Reports & Infographic</p>
      </li>
      <li><a href="#!/about-huedata" class="outline-style">About<br>HUEDATA</a>
        <p>Who we are</p>
      </li>
      <li><a href="#!/color-blog" class="outline-style">Color<br>Daily</a>
        <p>Our Blog</p>
      </li>
      <li><a href="#!/contact-huedata" class="outline-style">Contact<br>Us</a>
        <p>Say Hi!</p>
      </li>
    </ul>
  </div>

  <!--</div>-->
  <div class="container-fluid  text-center">
    <div id="slideshow">
      <!--<div class="slideitem current">-->
        <!--<img src="../../../assets/img/landing/auto-H.png">-->
      <!--</div>-->
      <div class="slideitem ">
        <img src="../../../assets/img/landing/numbers-H.png">
      </div>
      <div class="slideitem ">
        <img src="../../../assets/img/landing/lipstick-H.png">
      </div>
      <!--<div class="slideitem ">-->
        <!--<img src="../../../assets/img/landing/hue-H.png">-->
      <!--</div>-->
      <div class="slideitem ">
        <img src="../../../assets/img/landing/pills-H.png">
      </div>
      <div class="slideitem ">
        <img src="../../../assets/img/landing/colors-H.png">
      </div>
      <div class="slideitem ">
        <img src="../../../assets/img/landing/perfume-H.png">
      </div>
      <!--<div class="slideitem ">-->
        <!--<img src="../../../assets/img/landing/fashion-H.png">-->
      <!--</div>-->
      <div class="slideitem ">
        <img src="../../../assets/img/landing/furniture-H.png">
      </div>
    </div>
    <h1 id="statement" style="margin-top: -45px;">Our Color Intelligence Enhances Your Color Decision</h1>
    <div class="icons">
      <div class="icon"><h3>18 Ys</h3>
        <p>Fashion colors</p><img src="../../../assets/img/landing/fashion.png"></div>
      <div class="icon"><h3>100 Ys</h3>
        <p>Car colors</p><img src="../../../assets/img/landing/car.png"></div>
      <div class="icon"><h3>5M</h3>
        <p>Interior colors</p><img src="../../../assets/img/landing/furniture.png"></div>
      <div class="icon"><h3>23K</h3>
        <p>Beauty colors</p><img src="../../../assets/img/landing/cosmetics.png"></div>
      <div class="icon"><h3>45K</h3>
        <p>Paint colors</p><img src="../../../assets/img/landing/paint.png"></div>
      <div class="icon"><h3>82K</h3>
        <p>Logo colors</p><img src="../../../assets/img/landing/global.png"></div>
      <div class="icon"><h3>All pills</h3>
        <p>Pharma colors</p><img src="../../../assets/img/landing/pill.png"></div>
    </div>
  </div>
</section>
