.db-top-colors-by-year {
  margin: 0 4% 25px 6%;
  height: 100px;

  .caroufredsel_wrapper {
    margin: 0 auto !important;
  }

  .bar-group {
    width: 180px;
    height: 100%;
    border-left: 4px solid #000;
    float: left;

    .group-title {
      font-size: 22px;
      font-family: 'Oswald';
      text-align: center;
      width: 100%;
      line-height: 50px;
      vertical-align: middle;
    }

    .group-color-bars {
      width: 100%;
      height: 50px;

      .bar-container {
        width: 24%;
        height: 50px;
        margin-right: 1%;
        display: inline-block;

        .bar-subcontainer {
          width: 100%;
          height: 50px;
          position: relative;
          z-index: 10;

          &.last {
            top: -50px;
            z-index: 20;
          }
        }

        .bar-label {
          font-size: 10px;
          text-align: center;
          line-height: 25px;
          vertical-align: middle;
          font-weight: bold;
        }

        .bar-section {
          width: 100%;
          height: 25px;
          position: relative;
          top: 25px;
          cursor: pointer;
          box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.25) inset;
          -webkit-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.25) inset;
          -moz-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.25) inset;
          transition: all 200ms ease-out;
          -webkit-transition: all 200ms ease-out;
          -moz-transition: all 200ms ease-out;
          -o-transition: all 200ms ease-out;
          -ms-transition: all 200ms ease-out;

          &.active {
            height: 50px;
            top: 0px;
          }

          &:hover {
            opacity: 0.75;
          }
        }

        &.odd {
          .bar-section {
            top: 0px;

            &.active {
              top: 0px;
            }
          }

          .bar-label {
            position: relative;
            top: 25px;
          }
        }
      }
    }
  }
}
