<update-title title="Data Partnership Inquiry"></update-title>
<update-meta name="description" content="Inquire about Data Partnership"></update-meta>
<update-meta name="keywords" content="Color data partnership, Color design partnership, Color data partners, color database,
color dataset, color data points in r,color coding data analysis, color big data"></update-meta>

<div class="container-fluid header data-partners-header text-center" ng-init="$ctrl.init()">
  <div class="text-header">
    <h1>Our Data Partners</h1>
    <div class="button">
      <button class="btn" ui-sref="partnershipInquire">Inquire about Data Partnership</button>
    </div>
  </div>
</div>
<section>
  <div class="container-fluid text-left partners partners-min-h">
    <div class="row equal">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 partner" ng-repeat="item in $ctrl.pageData">
        <img class="partners-logo-min-h" ng-if="item.image_url" ng-src="{{item.image_url}}">
        <h5>{{item.partner_name}}</h5>
        <div class="justify">
          <p class="three_line_height" style="display: block" data-ng-bind-html="item.description" data-ellipsis
             data-ellipsis-symbol="... "
             data-ellipsis-append="<a>Read more</a>"
             data-ellipsis-append-click="$ctrl.toggleTextHeight"
          ></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="margin-top: 0" class="inquiries">
  <div class="container-fluid  text-center">
    <h3>Inquire about Data Partnership</h3>
    <div class="line"></div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="col-lg-4 col-md-4 " style="font-size: 17px">
        <p class="text-align-left padding-bottom-20">Typical ways in which Data partners collaborate with HUEDATA include:</p>
        <ol class="list-huegroup">
          <li>Seeking help structuring company color data</li>
          <li>Looking to benchmark company color data against
            HUEDATA specific color datasets for comparative and
            competitive insights</li>
          <li>Participate in invited research</li>
          <li>Customize color dashboards and infographics using HUEDATA API</li>
          <li>Co-Promoting unique color datasets
            on HUEDATA’s growing Color Intelligence Platform</li>
        </ol>
      </div>
      <form name="inquiries" class="inq">
        <div class="col-lg-4 col-md-4 membership-form">

          <div class="membr-block">
            <input ng-model="$ctrl.data.first_name.value" ng-value="$ctrl.data.first_name.value" type="text" id="first_name" name="first_name"
                   ng-class="'ng-dirty' && inquiries.first_name.$invalid ?  'error' :''" style="border: 0px" required>
            <label for="first_name">FIRST NAME <span class="red-text">*</span></label>
          </div>

          <div class="membr-block">
            <input ng-model="$ctrl.data.last_name.value" ng-value="$ctrl.data.last_name.value" type="text" id="last_name" name="last_name"
                   ng-class="'ng-dirty' && inquiries.last_name.$invalid ?  'error' :''" style="border: 0px" required>
            <label for="last_name">LAST NAME <span class="red-text">*</span></label>
          </div>

          <div class="membr-block">
            <input ng-model="$ctrl.data.email.value" ng-value="$ctrl.data.email.value" type="text" id="email" name="email"
                   ng-class="'ng-dirty' && inquiries.Email.$invalid ?  'error' :''" style="border: 0px" required>
            <label for="email">EMAIL <span class="red-text">*</span></label>
          </div>

          <div class="membr-block">
            <input ng-model="$ctrl.data.company.value" ng-value="$ctrl.data.company.value"
                   type="text" id="Company" name="Company"
                   ng-class="'ng-dirty' && inquiries.company.$invalid ?  'error' :''" style="border: 0px" required>
            <label for="Company">COMPANY<span class="red-text">*</span></label>
          </div>

          <div class="membr-block">
            <input ng-model="$ctrl.data.job_title.value" ng-value="$ctrl.data.job_title.value" type="text" id="job_title" name="job_title"
                   ng-class="'ng-dirty' && inquiries.job_title.$invalid ?  'error' :''" style="border: 0px" required>
            <label for="job_title">JOB TITLE <span class="red-text">*</span></label>
          </div>

          <div class="select-style select-mrg">
            <ui-select
                    ng-model="$ctrl.data.job_function.value"
                    theme="selectize"
                    search-enabled="false"
            >
              <ui-select-match ng-bind-html="$select.selected.title"></ui-select-match>
              <ui-select-choices class="without-border" repeat="job in $ctrl.jobs">
                <span ng-bind-html="job.title"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="select-style select-mrg">
            <ui-select
                    ng-model="$ctrl.data.company_size.value"
                    theme="selectize"
                    search-enabled="false"
            >
              <ui-select-match ng-bind-html="$select.selected.title"></ui-select-match>
              <ui-select-choices class="without-border" repeat="companySize in $ctrl.companySizes">
                <span ng-bind-html="companySize.title"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="select-style select-mrg">
            <ui-select
                    ng-model="$ctrl.data.industry.value"
                    theme="selectize"
                    search-enabled="false"
            >
              <ui-select-match ng-bind-html="$select.selected.title"></ui-select-match>
              <ui-select-choices class="without-border" repeat="ind in $ctrl.industries">
                <span ng-bind-html="ind.title"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="select-style select-mrg">
            <ui-select
                    ng-model="$ctrl.data.country.value"
                    theme="selectize"
                    search-enabled="false"
            >
              <ui-select-match ng-bind-html="$select.selected.title"></ui-select-match>
              <ui-select-choices class="without-border" repeat="cntry in $ctrl.countries">
                <span ng-bind-html="cntry.title"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <textarea ng-model="$ctrl.data.description.value" ng-value="$ctrl.data.description.value"
                    placeholder="TELL US ABOUT YOUR COLOR DATA NEEDS" style="border: 0px"></textarea>

          <div class="button">
            <button ng-click="$ctrl.send()" class="btn pull-right">
              SUBMIT INQUIRY
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

