<update-title title="Our Color Intelligence Enhances Your Color Decision"></update-title>
<update-meta name="description" content="Color Intelligence Enhances Your Color Decision"></update-meta>
<update-meta name="keywords" content="Color Intelligence, Color Decisions, Color analytics, Color insights, Color inspiration,
Color validation, Color information, Color dataset, Color database, Color design, Color strategy, color big data"></update-meta>

<section class="landing">

  <div id="landing-header-slider-block" class="container-fluid  text-center">
    <!--<div class="slider-wrap">-->
      <!--<div class="single-slide" id="slide-1"></div>-->
      <!--<div class="single-slide" id="slide-2"></div>-->
      <!--<div class="single-slide" id="slide-3"></div>-->
      <!--<div class="single-slide" id="slide-4"></div>-->
      <!--<div class="single-slide" id="slide-5"></div>-->
    <!--</div>-->
    <div id="slideshow" class="slider-wrap">
      <!--<div class="slideitem current">-->
        <!--<img src="../../../assets/img/landing/auto-H.png">-->
      <!--</div>-->
      <div class="single-slide" id="slide-1" >
        <!--<img src="../../../assets/img/landing/numbers-H.png">-->
      </div>
      <div class="single-slide" id="slide-2">
        <!--<img src="../../../assets/img/landing/lipstick-H.png">-->
      </div>
      <!--<div class="slideitem ">-->
        <!--<img src="../../../assets/img/landing/hue-H.png">-->
      <!--</div>-->
      <div class="single-slide" id="slide-3">
        <!--<img src="../../../assets/img/landing/pills-H.png">-->
      </div>
      <div class="single-slide" id="slide-4">
        <!--<img src="../../../assets/img/landing/colors-H.png">-->
      </div>
      <div class="single-slide" id="slide-5">
        <!--<img src="../../../assets/img/landing/perfume-H.png">-->
      </div>
      <!--<div class="slideitem ">-->
        <!--<img src="../../../assets/img/landing/fashion-H.png">-->
      <!--</div>-->
      <div class="single-slide" id="slide-6">
        <!--<img src="../../../assets/img/landing/furniture-H.png">-->
      </div>
    </div>
    <h1 id="statement" style="margin-top: -45px;">Our Color Intelligence Enhances Your Color Decision</h1>
    <div class="icons">
      <div class="icon"><h3>18 Ys</h3>
        <p>Fashion colors</p><img src="../../../assets/img/landing/fashion.png"></div>
      <div class="icon"><h3>100 Ys</h3>
        <p>Car colors</p><img src="../../../assets/img/landing/car.png"></div>
      <div class="icon"><h3>5M</h3>
        <p>Interior colors</p><img src="../../../assets/img/landing/furniture.png"></div>
      <div class="icon"><h3>23K</h3>
        <p>Beauty colors</p><img src="../../../assets/img/landing/cosmetics.png"></div>
      <div class="icon"><h3>45K</h3>
        <p>Paint colors</p><img src="../../../assets/img/landing/paint.png"></div>
      <div class="icon"><h3>82K</h3>
        <p>Logo colors</p><img src="../../../assets/img/landing/global.png"></div>
      <div class="icon"><h3>All pills</h3>
        <p>Pharma colors</p><img src="../../../assets/img/landing/pill.png"></div>
    </div>
  </div>
</section>
<section class="landing-video">
    <div class="container">
      <div class="row center">
        <div class="landing_vimeo_video">
          <video width="855" height="480" controls poster="../../../assets/img/landing/video_preview_HD.jpg">
            <source src="../../../assets/img/landing/HueData_2018.mp4" type="video/mp4">
            <!--<source src="movie.ogg" type="video/ogg">-->
            Your browser does not support the video tag.
          </video>
          <!--<iframe src="https://www.youtube.com/embed/A-dZ5GIBnbo"-->
                  <!--id="companyVimeoVideo"-->
                  <!--frameborder="0" webkitallowfullscreen mozallowfullscreen-->
                  <!--allowfullscreen>-->
          <!--</iframe>-->
        </div>
      </div>
    </div>
</section>

<section class="landing-analytics-description">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <h1 class="landing-analytics_title">We love <br> colors analytics</h1>
        <img src="../../../assets/img/landing/landing_analytic-arrow.jpg" alt="">
      </div>
      <div class="col-md-7 col-lg-7">
        <img class="landing-analytics-description__img" src="../../../assets/img/landing/landing-analytics-block_1.jpg" alt="img">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-lg-5">
        <h1 class="landing-analytics_title">..and publish 100s <br> of color reports <br> and infographic <br> every year</h1>
        <img src="../../../assets/img/landing/landing_analytic-arrow.jpg" alt="">
      </div>
      <div class="col-md-7 col-lg-7">
        <img class="landing-analytics-description__img" src="../../../assets/img/landing/landing-analytics-block_2.jpg" alt="">

      </div>
    </div>
  </div>
</section>
<section class="landing-reports-section">
  <div class="container">
    <div class="row flex landing-reports">
      <div class="landing-report-item" ng-repeat="report in $ctrl.reports_on_landing">
        <img class="download-img" ng-src="{{report.image}}">
        <span>{{report.hue}}</span>
        <p>{{report.header}}</p>
      </div>
    </div>
    <div class="landing-color-index-title">
      <p>Check out our propraitery</p>
      <p>Color Naming Index</p>
      <img src="../../../assets/img/landing/landing_analytic-arrow.jpg" alt="">
    </div>
  </div>
</section>

<section class="landing-color-picker">
  <div class="container-fluid color-picker-landing_responsive" id="color-picker-responsive-block">
    <div class="row landing-color-picker-block">
    <div class="col-md-2 col-lg-2 landing-color-picker-title" id="color-picker-title">
      <p>SELECT A COLOR TO&nbsp;START</p>
    </div>
      <div class="col-lg-3 col-md-3 ">
        <hue-db-color-picker></hue-db-color-picker>
      </div>
      <div class="col-lg-2 col-md-2 color-piker-item">
        <div class="color-picker-title-img"><img class="color-picker-img" src="../assets/images/arrow-right-landing.png" alt=""></div>
      </div>
      <div class="col-lg-3 col-md-3 landing-color-piker-image">
        <div id="color_id"></div>
      </div>
      <div class="col-md-2 col-lg-2 landing-color-picker-title">
        <p>HOW IS THIS&nbsp;COLOR CALLED</p>
        <div class="button landing-color-picker-button">
          <a class="btn join-btn" ng-click="$ctrl.searchByRGB()" >FIND OUT</a>
        </div>
      </div>
    </div>
  </div>
</section>
