<div ng-controller="countryBrandingController">
  <div class="dashboard-container dashboard-branding-country" ng-if="showDashboard">

    <hue-db-header header-title="title" header-icon="iconUrl" icon-type="img" page-info="pageInfo"></hue-db-header>

    <div class="dashboard-row dashboard-country">
      <div class="dashboard-cell cell-left">
        <div class="cell-top-colors">
          <div class="module-title">Country Top 4 Colors
            <img src="assets/img/icons/expand.svg" class="icon-expand"
                 ng-click="toggleTopColorsExpandedMode()"/>
            <hue-db-info-icon text-key="top_colors"></hue-db-info-icon>
          </div>
          <hue-db-top-colors data="topColorsData"></hue-db-top-colors>
          <hue-db-top-colors-expanded data="topColorsData" toggle-view="toggleTopColorsExpandedMode()"
                                      ng-if="topColorsExpanded"></hue-db-top-colors-expanded>
        </div>
        <div class="cell-flag-colors">
          <div class="module-title">Country Logos Using Flag Colors
            <hue-db-info-icon text-key="flag_colors"></hue-db-info-icon>
          </div>
          <hue-db-flag-colors data="flagColorsData" flag-url="flagUrl"></hue-db-flag-colors>
        </div>
      </div>
      <div class="dashboard-cell cell-right">
        <div class="cell-top-industries">
          <div class="module-title">Top 3 Industries For {{title}}
            <hue-db-info-icon text-key="top_industries"></hue-db-info-icon>
          </div>
          <hue-db-top-industries data="topIndustriesData" chart-color="topIndustriesColor"></hue-db-top-industries>
        </div>
        <div class="cell-popular-combinations">
          <div class="module-title">Color Family Frequency For {{title}}
            <img src="assets/img/icons/expand.svg"
                 class="icon-expand"
                 ng-click="toggleColorFrequencyExpandedMode()"/>
            <hue-db-info-icon text-key="color_freq"></hue-db-info-icon>
          </div>
          <hue-db-color-frequency data="colorFrequencyData"></hue-db-color-frequency>
          <hue-db-color-frequency-expanded data="colorFrequencyData" toggle-view="toggleColorFrequencyExpandedMode()"
                                           ng-if="colorFrequencyExpanded"></hue-db-color-frequency-expanded>
        </div>
      </div>
    </div>

    <div class="dashboard-row">
      <div class="dashboard-cell">
        <div class="module-title">Country Top 4 Colors &amp; Associated Attributes
          <img src="assets/img/icons/expand.svg" class="icon-expand" ng-click="toggleMapExpandedMode()"/></div>
        <hue-db-map data="mapsData" hide-map="true"></hue-db-map>
        <hue-db-map-expanded data="mapsData" toggle-view="toggleMapExpandedMode()"
                             ev-title="Country Top 4 Colors &amp; Associated Attributes" ng-if="mapExpanded"
                             hide-map="true">
        </hue-db-map-expanded>
      </div>
    </div>

    <div class="dashboard-row color-palette-row">
      <div class="dashboard-cell cell-left">
        <div class="module-title">Number Of Colors In Logos
          <hue-db-info-icon text-key="color_count"></hue-db-info-icon>
        </div>
        <hue-db-color-count data="colorCountData"></hue-db-color-count>
      </div>
      <div class="dashboard-cell cell-right">
        <div class="module-title">Country Color Palette
          <img src="assets/img/icons/expand.svg" class="icon-expand"
               ng-click="toggleColorPaletteExpandedMode()"/>
          <hue-db-info-icon text-key="palette"></hue-db-info-icon>
          <hue-db-color-palette-bucket-selector
            selected-value="colorPaletteBucket"
            on-change="changeColorPaletteBucket">
          </hue-db-color-palette-bucket-selector>
        </div>
        <hue-db-color-palette data="colorPaletteData" set-color="setColorAsMain" is-expanded="colorPaletteExpanded"></hue-db-color-palette>
      </div>
    </div>

    <div class="dashboard-row">
      <div class="dashboard-cell">
        <div class="module-title">Country Logos By Color
          <hue-db-info-icon text-key="logo_colors"></hue-db-info-icon>
        </div>
        <hue-db-logos data="logosData"></hue-db-logos>
      </div>
    </div>

  </div>
</div>

