.site-footer {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  background-color: #000;
  color: white;
  text-align: center;

  ul {
    margin: 2px 0 0 0;
    padding: 0;
    line-height: normal;

    li {
      display: inline-block;
      margin: 0 10px;
      padding: 0;

      &.not-chrome-message {
        border-left: 2px solid #fff;
        padding-left: 20px;

        a {
          font-size: 10px;
          font-family: 'Open Sans';
        }
      }

      a {
        font-size: 12px;
        color: #fff;
        font-family: 'Gotham-Bold';
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .info-window {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: #000;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: normal;
    overflow-y: auto;
    z-index: 3000;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;

    &.ng-enter, &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    &.ng-leave, &.ng-enter.ng-enter-active {
      opacity: 1;
    }

    .button-close {
      width: 20px;
      height: 20px;
      background: url(../../../assets/img/icons/close-big.svg) no-repeat center;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      z-index: 1000;
    }

    .window-content-container {
      width: 100%;
      height: 100%;

      .mCSB_scrollTools {
        top: 40px;
      }

      .window-content {
        width: 980px;
        padding-top: 100px;
        margin: 0 auto;
        text-align: justify;
      }
    }
  }
}
