.db-color-copyrights-by-color-family {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;

	.item-container {
		text-align: center;
		display: inline-block;
		vertical-align: top;
		margin: 0 5px;
		position: relative;
		cursor: pointer;

		.item-chart {
			margin: 0 5px;
			width: 70px;
			height: 70px;
		}

		.item-value {
			font-family: 'Oswald';
			font-size: 16px;
			text-transform: uppercase;
			position: absolute;
			width: 80px;
			top: 0;
			left: 0;
			line-height: 70px;

			.value-unit {
				font-family: "Gotham SSm A";
				font-size: 12px;
			}
		}

		.item-caption {
			font-family: 'Oswald';
			font-size: 14px;
			text-transform: uppercase;
			width: 80px;

			span {
				line-height: normal;
				vertical-align: middle;
				display: inline-block;
			}
		}
	}
}
