<update-title title="HUEDATA Members Use Color Analytics and Insights to: AND HUEDATA Membership Benefits"></update-title>
<update-meta name="description" content="Membership form for HUEDATA"></update-meta>
<update-meta name="keywords" content="Color subscription"></update-meta>

<div class="container-fluid header member-header text-center">
  <div class="text-header">
    <h1>Become a HUEDATA Member</h1>

  </div>
</div>

<div class="clear"></div>

<section>

  <div class="container-fluid  text-center">
    <h3>HUEDATA Members Use Color Analytics and Insights to:</h3>
    <div class="line"></div>

  </div>
  <div class="container-fluid bg-3">

    <div class="row equal text-center">

      <!--        ------------------------------------------->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 membership-item">

        <div><img src="../assets/images/stay-informed.png" alt="Image" style="padding-top:30px">
          <h5>STAY INFORMED</h5>
          <p>Enjoy real time color analytics
            and insights and never miss on
            new color introduction,
            emerging trends and deep dive analyses
            to enhance your color decisions.</p>
        </div>
      </div>
      <!--        ------------------------------------------->

      <!--        ------------------------------------------->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 membership-item">

        <div><img src="../assets/images/Innovation.png" alt="Image" style="padding-top:30px">
          <h5>GET INSPIRED</h5>
          <p>Identify new color opportunities not always
            visible to the naked eye! Let the data leads
            you to new understandings and opportunities to
            create, differentiate, and lead with color innovation.
          </p>
        </div>
      </div>
      <!--        ------------------------------------------->

      <!--        ------------------------------------------->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 membership-item">

        <div><img src="../assets/images/customization.png" alt="Image" style="padding-top:30px">
          <h5>OPTIMIZE</h5>
          <p>Leverage color intelligence to better
            customize your color offering to your
            audience, within the context of competitive
            offerings and emerging trends.
          </p>
        </div>
      </div>
      <!--        ------------------------------------------->

      <!--        ------------------------------------------->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 membership-item">

        <div><img src="../assets/images/Efficiences.png" alt="Image" style="padding-top:30px">
          <h5>RATIONALIZE</h5>
          <p>Use HUEDATA’s comprehensive and always
            updated data to support your color
            designs / innovations, validate your
            choices and communicate the strategic
            value of your color decisions.
          </p>
        </div>
      </div>
      <!--        ------------------------------------------->

    </div>
  </div>

</section>
<hr>

<section>
  <div class="container-fluid  text-center">
    <h3 class="padding-top-0">HUEDATA Membership Benefits</h3>
    <div class="line" style="margin-bottom:25px"></div>

  </div>
  <div class="container-fluid ">
    <div class="row equal">
      <div class="col-lg-6 col-md-6 col-sm-12 ">
        <div class="benefits shadow">
          <div class="col-lg-1 col-md-1 ">
            <img src="../assets/images/benefits-icon.png" class="icon-benefits">
          </div>
          <div class="col-lg-10 col-md-12 justify">
            <h5>BENCHMARK</h5>
            <p>Members enjoy access to HUEDATA’s Indices,
              Reports and Customized Infographics with
              industry-specific analytics and actionable insights
              to benchmark and improve their color performance.
            </p>

          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="benefits shadow">
          <div class="col-lg-1 col-md-1 ">
            <img src="../assets/images/benefits-icon.png" class="icon-benefits">
          </div>
          <div class="col-lg-10 col-md-12 justify">
            <h5>RESEARCH REPORTS</h5>
            <p>HUEDATA publishes 100+ member-only
              reports and infographics annually providing
              deep cross- sector insight into color
              performance of thousands of brands,
              products and built environments.</p>

          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="benefits shadow">
          <div class="col-lg-1 col-md-1 ">
            <img src="../assets/images/benefits-icon.png" class="icon-benefits">
          </div>
          <div class="col-lg-10 col-md-12 justify">
            <h5>MEMBER SUPPORT</h5>
            <p>Access to HUEDATA experts with
              cross-industry color depth provide
              an opportunity for customized
              strategic guidance on key color
              decisions and effective color execution.
            </p>

          </div>
          <div style="clear: both;"></div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="benefits shadow">
          <div class="col-lg-1 col-md-1 ">
            <img src="../assets/images/benefits-icon.png" class="icon-benefits">
          </div>
          <div class="col-lg-10 col-md-12 justify">
            <h5>EXECUTIVE EDUCATION</h5>
            <p>HUEDATA growing library of educational
              offerings from online color courses
              to color teaching materials is open
              to both industry and academic members.</p>

          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="becomeMember" class="become-member">
  <div class="container-fluid  text-center">
    <h3>Inquire about Membership</h3>
    <div class="line"></div>
  </div>

  <div class="container-fluid">
    <div class="row ">
      <div class="col-lg-4 col-md-4 justify">
        <p class="padding-bottom-20">HUEDATA color intelligence helps you benchmark
          your color performance relative to trends and
          competitors, inspires your color innovation,
          optimizes color choices for your customer
          segment and supports rationalizing your
          color decisions.<br/>
        <ul class="indented-line padding-left-0">
          <li>&emsp;Vertical-specific analytics to benchmark color performance</li>
          <li>&emsp;Access to HUEDATA color experts with cross-industry depth</li>
          <li>&emsp;Access to HUEDATA 100+ reports and infographics annually</li>
          <li>&emsp;A growing library of educational color courses and teaching materials</li>
        </ul>
      </div>
      <form name="membership">
        <div class="col-lg-4 col-md-4 membership-form">
          <div class="membr-block">
            <input ng-model="$ctrl.data.first_name.value" ng-value="$ctrl.data.first_name.value" type="text"
                   id="first_name" name="first_name"
                   ng-class="'ng-dirty' && membership.first_name.$invalid ?  'error' :''" required>
            <label for="first_name">FIRST NAME <span class="red-text">*</span></label>
          </div>

          <div class="membr-block">
            <input ng-model="$ctrl.data.last_name.value" ng-value="$ctrl.data.last_name.value" type="text"
                   id="last_name" name="last_name"
                   ng-class="'ng-dirty' && membership.last_name.$invalid ?  'error' :''" required>
            <label for="last_name">LAST NAME <span class="red-text">*</span></label>
          </div>

          <div class="membr-block">
            <input ng-model="$ctrl.data.email.value" ng-value="$ctrl.data.email.value" type="text" id="email"
                   name="email"
                   ng-class="'ng-dirty' && membership.Email.$invalid ?  'error' :''" required>
            <label for="email">EMAIL <span class="red-text">*</span></label>
          </div>

          <div class="membr-block">
            <input ng-model="$ctrl.data.company.value" ng-value="$ctrl.data.company.value" type="text" id="company"
                   name="company"
                   ng-class="'ng-dirty' && membership.company.$invalid ?  'error' :''" required>
            <label for="company">COMPANY <span class="red-text">*</span></label>
          </div>

          <div class="membr-block">
            <input ng-model="$ctrl.data.job_title.value" ng-value="$ctrl.data.job_title.value" type="text"
                   id="job_title" name="job_title"
                   ng-class="'ng-dirty' && membership.job_title.$invalid ?  'error' :''" required>
            <label for="job_title">JOB TITLE <span class="red-text">*</span></label>
          </div>

          <div class="select-style select-mrg">
            <ui-select
              ng-model="$ctrl.data.job_function.value"
              theme="selectize"
              search-enabled="false"
            >
              <ui-select-match ng-bind-html="$select.selected.title"></ui-select-match>
              <ui-select-choices repeat="job in $ctrl.jobs">
                <span ng-bind-html="job.title"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="select-style select-mrg">
            <ui-select
              ng-model="$ctrl.data.company_size.value"
              theme="selectize"
              search-enabled="false"
            >
              <ui-select-match ng-bind-html="$select.selected.title"></ui-select-match>
              <ui-select-choices repeat="companySize in $ctrl.companySizes">
                <span ng-bind-html="companySize.title"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="select-style select-mrg">
            <ui-select
              ng-model="$ctrl.data.industry.value"
              theme="selectize"
              search-enabled="false"
            >
              <ui-select-match ng-bind-html="$select.selected.title"></ui-select-match>
              <ui-select-choices repeat="ind in $ctrl.industries">
                <span ng-bind-html="ind.title"></span>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="select-style select-mrg">
            <ui-select
              ng-model="$ctrl.data.country.value"
              theme="selectize"
              search-enabled="false"
            >
              <ui-select-match ng-bind-html="$select.selected.title"></ui-select-match>
              <ui-select-choices repeat="cntry in $ctrl.countries">
                <span ng-bind-html="cntry.title"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 membership-form">
          <div>
            <p style="float: none">
              <input type="checkbox" id="test5" ng-model="$ctrl.data.permissions.daily"/>
              <label for="test5">Daily Insight</label>
            </p>
            <p style="float: none">
              <input type="checkbox" id="test6" ng-model="$ctrl.data.permissions.research"/>
              <label for="test6">Research Reports</label>
            </p>
            <p style="float: none">
              <input type="checkbox" id="test7" ng-model="$ctrl.data.permissions.edu"/>
              <label for="test7">Education Offerings</label>
            </p>
            <p style="float: none">
              <input type="checkbox" id="test8" ng-model="$ctrl.data.relationship.expert"/>
              <label for="test8">Join Expert Panel</label>
            </p>
          </div>

          <div class="button">
            <button class="btn" ng-click="$ctrl.submitInquiry()">SUBMIT INQUIRY</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
