.db-distribution-by-category {
  width: 100%;
  height: 230px;
  text-align: center;

  .category-item {
    width: 295px;
    text-align: left;
    display: inline-block;
    margin-left: 50px;
    margin-right: 20px;

    .top-container {
      width: 100%;
      height: 160px;

      .category-chart {
        width: 160px;
        margin-left: 20px;
        height: 100%;
        display: inline-block;
      }

      .category-icon {
        width: 35px;
        height: 100%;
        display: inline-block;

        svg {
          width: 35px;
          height: 70px;
        }
      }

      .category-caption {
        height: 100%;
        display: inline-block;
        font-family: 'Oswald';
        font-size: 14px;
        text-transform: uppercase;

        .category-percentage {
          font-size: 24px;
        }

        .category-percentage-unit {
          font-family: "Gotham SSm A";
          font-size: 16px;
        }
      }
    }

    .designers-label-container {
      width: 100%;
      padding-right: 95px;
      margin-top: 10px;
      text-align: center;

      .designers-count {
        font-family: "Oswald", "Knockout 28 A", "Knockout 28 B";
        font-size: 20px;
      }

      .designers-label {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        font-family: "Gotham Cond SSm A";
        font-size: 12px;
        font-weight: bold;
        padding: 1px 0;
        position: relative;
        text-transform: uppercase;
        top: -3px;
      }
    }
  }
}
