.user-profile-settings {
  width: 400px;
  margin: auto;

  .button-container {
    width: 100%;
    text-align: center;

    button {
      display: inline-block;
      margin: 0 5px;
    }
  }

  label {
    font-weight: bold;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    background: #000;
    display: block;
    margin-bottom: 20px;
  }
}

.deactivate-account-dialog {
  margin-top: 15px;

  .close-account {
    cursor: pointer;
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 4px 0;
      padding: 0;

      input {
        background: none;
        border: none;
        border-bottom: 1px solid #fff;
        width: 355px;
        display: inline;
        float: right;
      }
    }
  }

  .reason-option {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
