.hue-filters-configuration-menu {
  width: 75%;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  bottom: 100px;
  left: 0;
  right: 0;

  .message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .entities-list {
    width: 150px;
    position: absolute;
    top: 45px;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      width: 135px;
      margin: 0;
      padding: 2px 5px;
      text-transform: uppercase;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;

      &.active, &:hover {
        background: #FFF;
        color: #000;
      }
    }

    .reset-button {
      margin-top: 25px;
    }
  }

  .options-selection {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 150px;
    right: 0px;

    .simple-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 150px;
        margin: 0 15px 0 0;
        padding: 1px 3px;
        cursor: pointer;
        display: inline-block;

        &.active, &:hover {
          background: #FFF;
          color: #000;
        }
      }
    }

    .search-alphanumeric-selector .items-group {
      bottom: 70px;
    }

    .search-by-name {
      text-align: center;
      font-family: "Open Sans";
      font-size: 18px;
      font-style: italic;
      font-weight: normal;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;

      .angucomplete-holder {
        display: inline-block;
        width: 200px;
      }

      input {
        cursor: pointer;
        background: none repeat scroll 0 0 #000;
        border-color: -moz-use-text-color -moz-use-text-color #fff;
        border-image: none;
        border-style: none none solid;
        border-width: 0 0 1px;
        text-align: left;
        width: 100%;
      }
    }
  }
}
