.project-menu.tab-open {
  .open-project-list {
    width: 350px;
    margin: 0 auto;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 10px;
      vertical-align: middle;

      img {
        height: 32px;
        vertical-align: middle;
      }

      a {
        display: inline-block;
        line-height: 32px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }

      .list-icons {
        display: none;

        i {
          cursor: pointer;
        }
      }

      &:hover {
        .list-icons {
          display: inline-block;
        }
      }

      .open-board-list {
        list-style: none;
        padding-left: 65px;

        li {
          a {
            display: inline-block;
            line-height: 32px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
          }

          .list-icons {
            display: none;

            i {
              cursor: pointer;
            }
          }

          &:hover {
            .list-icons {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.project-menu.tab-save {
  .save-tab-container {
    margin: 0 auto;
    width: 530px;
    font-family: "Open Sans";
    font-size: 16px;

    .tab-subcontainer {
      width: 250px;
      float: left;

      &.last {
        margin-left: 30px;
      }

      .tab-image {
        display: block;
        height: 100px;
        margin-bottom: 20px;
      }

      .tab-input {
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;

        input {
          width: 180px;
          border: none;
          color: #fff;
          background: #000;
          display: inline-block;
        }

        button {
          padding: 0 5px;
          float: right;
          display: inline-block;
        }
      }

      .create-project {
        display: block;
        line-height: 32px;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 10px;

        img {
          height: 32px;
          vertical-align: middle;
        }
      }

      .create-board {
        display: block;
        line-height: 32px;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        margin-top: 40px;

        img {
          height: 32px;
          vertical-align: middle;
        }
      }

      .save-project-list {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 2px;

          a {
            display: inline-block;
            line-height: 32px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            font-weight: bold;

            img {
              height: 32px;
            }
          }

          &.active {
            border: 2px solid #fff;
          }
        }
      }
    }
  }
}
