.top-menu.menu-search {
  .search-tab {
    position: absolute;
    top: 100px;
    bottom: 180px;
    left: 50px;
    right: 50px;

    .search-select-title {
      border-bottom: 1px solid #fff;
      margin: 0 0 25px;
      padding: 0 0 5px;
      text-align: left;
      width: 100%;
      font-family: "Open Sans";
      font-size: 18px;
      font-style: italic;
      font-weight: normal;
    }

    &.search-message {
      margin-top: 50px;
      padding: 0 0 5px;
      text-align: center;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: normal;
      position: static;

      .label-start {
        cursor: pointer;
        margin-top: 20px;
      }

      p {
        margin-bottom: 50px;
        line-height: 1.5;
      }
    }

    &.search-years {
      padding: 30px 0 0;
      text-align: center;
      font-size: 0.8em;

      .year-selector input {
        cursor: pointer;
        background: none repeat scroll 0 0 #000;
        border-color: -moz-use-text-color -moz-use-text-color #fff;
        border-image: none;
        border-style: none none solid;
        border-width: 0 0 1px;
        text-align: center;
        width: 24px;
        font-size: 1.2em;
      }
    }

    &.search-alphanumeric {
      padding: 0;

      &.with-autocomplete {
        .items-group {
          bottom: 150px;
        }

        .search-by-name {
          text-align: center;
          font-family: "Open Sans";
          font-size: 18px;
          font-style: italic;
          font-weight: normal;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          bottom: 50px;

          .angucomplete-holder {
            display: inline-block;
            width: 200px;
          }

          input {
            cursor: pointer;
            background: none repeat scroll 0 0 #000;
            border-color: -moz-use-text-color -moz-use-text-color #fff;
            border-image: none;
            border-style: none none solid;
            border-width: 0 0 1px;
            text-align: left;
            width: 100%;
          }
        }
      }
    }

    &.search-colors {
      .color-list {
        width: 100%;
        height: 90px;
        border: 1px solid #fff;

        td {
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
          cursor: pointer;
        }
      }

      .search-by-notation {
        text-align: center;
        font-family: "Open Sans";
        font-size: 18px;
        font-style: italic;
        font-weight: normal;
        margin-top: 60px;

        .angucomplete-holder {
          display: inline-block;
          width: 200px;
        }

        input {
          cursor: pointer;
          background: none repeat scroll 0 0 #000;
          border-color: -moz-use-text-color -moz-use-text-color #fff;
          border-image: none;
          border-style: none none solid;
          border-width: 0 0 1px;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}

.search-menu-select-lists {
  text-align: center;

  .selector-container {
    width: 200px;
    margin-right: 40px;
    display: inline-block;
    vertical-align: top;

    &.disabled {
      .selector-list-container ul li, .selector-list-container ul li:hover {
        color: #ccc;
        background: #000;
      }

      .selector-list-container ul li.active, .selector-list-container ul li.active:hover {
        color: #000;
        background: #fff;
      }

      .selector-list-container ul li {
        cursor: default;
      }
    }

    &.last {
      margin-right: 0;
    }

    .selector-title {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      margin: 0 0 25px;
      padding: 0 0 5px;
      text-align: left;
      width: 100%;
      font-family: "Open Sans";
      font-size: 18px;
      font-style: italic;
      font-weight: normal;
    }

    .selector-list-container {
      width: 100%;
      max-height: 220px;

      ul {
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          font-family: "Gotham SSm A";
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
          letter-spacing: 1px;
          width: 100%;
          text-align: left;
          padding-left: 10px;
          display: block;

          &:hover, &.active {
            color: #000;
            background: #fff;
          }
        }
      }
    }
  }
}
