.search-alphanumeric-selector {
  .group-tabs {
    border-bottom: 1px solid #fff;
    height: 41px;
    margin: 0 0 25px 0;
    width: 100%;
    list-style: none;
    display: block;
    padding: 0;
    text-align: center;

    li {
      color: #ccc;
      display: inline-block;
      font-size: 20px;
      letter-spacing: 2px;
      cursor: pointer;
      padding: 6px 20px;
    }

    .active {
      background: url("../../../assets/img/lineMidArrowDown-white.png") no-repeat scroll center 37px transparent;
      color: #fff;
      padding-bottom: 25px;
    }
  }

  .items-group {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0px;

    .items-subgroup {
      width: 100%;
      margin-bottom: 20px;

      .subgroup-title {
        width: 100%;
        margin-bottom: 10px;

        h2 {
          border-bottom: 1px solid #fff;
          color: #fff;
          font-size: 25px;
          margin: 0;
          padding: 0 0 6px;
          width: 20%;
        }
      }

      ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          cursor: pointer;
          margin: 0 15px 0 0;
          padding: 1px 3px;
          width: 16.66%;
        }
      }
    }
  }

  &.multiselect .items-group ul li {
    &.active, &:hover {
      background: #FFF;
      color: #000;
    }
  }
}
