.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 2000;
  background: #000;
  padding: 0;

  .header-control {
    color: white;
    height: 50px;
    display: block;
    float: left;

    &.user {
      line-height: 50px;
      padding-right: 10px;

      i {
        cursor: pointer;
      }
    }

    &.search, &.menu {
      width: 50px;
      font-size: 23px;
      line-height: 50px;
      border-left: 1px solid white;
      text-align: center;
      cursor: pointer;

      &.active {
        background: white;
        color: black;
      }
    }
  }

  .header-logo {
    height: 50px;
  }
}
