.search-menu-trending {
  position: absolute;
  width: 700px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 30px;

  .trending-title {
    width: 280px;
    height: 25px;
    margin: 10px auto;

    .title-line {
      float: left;
      width: 50px;
      height: 1px;
      margin-top: 9px;
      background-color: #fff;
    }

    .title-text {
      text-align: center;
      float: left;
      width: 180px;
      color: #fff;
      font-family: Oswald;
      letter-spacing: 4px;
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 4px;
    }
  }

  .trending-container {
    width: 100%;
    height: 100px;
    border-right: 1px solid #fff;
    margin: 0 auto;

    .trending-cell {
      width: 16.666%;
      height: 100px;
      font-family: Oswald;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid #fff;
      border-right: none;
      line-height: 99px;
      text-align: center;
      float: left;

      span {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
      }

      svg {
        height: 70px;
        fill: #fff;
        display: inline-block;
        vertical-align: middle;
      }

      img {
        height: 70px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
