.db-color-frequency-by-city {
  width: 100%;
  height: 230px;

  .caroufredsel_wrapper {
    margin: 0 auto !important;
  }

  .city-title {
    width: 100px;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    font-family: 'Gotham SSm A';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
    cursor: pointer;
    transition: all 200ms ease-out;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;

    img {
      height: 50px;
    }

    &.ng-hide {
      opacity: 0;
    }
  }
}

.db-color-frequency-by-city-expanded {
  font-weight: bold;

  .expanded-view-table {
    margin: 55px auto 0 auto;
    width: 90%;
    border-spacing: 10px;
    border-collapse: separate;
    table-layout: fixed;

    .color-bar {
      position: absolute;
      width: 100%;
      height: 30px;
      top: 0;
      left: 0;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      transition: all 200ms ease-out;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      -ms-transition: all 200ms ease-out;

      span {
        color: #fff;
        line-height: normal;
        opacity: 0;
        cursor: pointer;
        transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        -moz-transition: all 200ms ease-out;
        -o-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
      }

      &.active {
        z-index: 10;
        height: 60px;
        line-height: 60px;

        span {
          opacity: 1;
        }
      }
    }

    tbody {
      margin-bottom: 15px;
    }

    thead th {
      text-align: center;
    }

    tbody th {
      text-align: right;
      width: 125px;
    }

    tbody td {
      position: relative;
    }

    td, th {
      height: 30px;
    }
  }

  .text-block-container {
    position: absolute;
    bottom: 0;
    height: 150px;
    border-top: 1px solid #ccc;

    .text-block {
      height: 100%;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      font-size: 13px;
      font-family: 'Open Sans';
      text-transform: none;
      line-height: normal;
      text-align: justify;
      font-weight: initial;
      padding-top: 10px;
    }
  }
}
