.db-colors-by-family {
	width: 95%;
	height: 320px;
	position: relative;
	margin: 0 auto 25px auto;

	.button-all {
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		line-height: 28px;
		font-family: "Gotham Cond SSm A","Gotham Cond SSm B";
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	.color-bar {
		position: absolute;
		top: 28px;
		bottom: 30px;
		left: 0;
		width: 30px;
		list-style: none;
		padding: 0;
		margin: 0;
		border: 1px solid #ccc;

		li {
			width: 100%;
			padding: 0;
			margin: 0;
			cursor: pointer;
			display: block;
			border-bottom: 1px solid #fff;

			&:last-child {
				border: none;
			}

			&.hidden {
				opacity: 0.5;
        display: block !important;
			}
		}
	}

	.graph {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50px;
		right: 0;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

.db-colors-by-family-range-selector {
	display: inline;
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
	color: #bababa;

	li {
		display: inline;
		cursor: pointer;
		margin-right: 10px;
		text-transform: uppercase;

		&:hover, &.active {
			color: #727272;
		}
	}
}
