<h4 class="text-left membership-product">HUEDATA MEMBERSHIP PRODUCT</h4>

<div class="detailed-page-wrapper">
  <section class="top">
    <div class="container-fluid  text-left title">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="list-item">
            <div>
              <span class="list-category">Category</span>
              <span class="list-date">September 11, 2017</span>
            </div>
            <div class="list-text">China: Online Video</div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 text-right buttons-group">
          <div class="button membership">
            <button ng-if="$ctrl.getUser()" class="btn join-btn" ng-click="$ctrl.gotoElement('prefooter')">JOIN</button>
          </div>
          <div class="button membership white">
            <button class="btn white-btn">DOWNLOAD EXCERPT</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="border"></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid  text-left">

    </div>
  </section>

  <section>
    <div class="container-fluid text-left report detailed-content">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="category Beauty text-center"><p>HUEBEAUTY</p></div>
          <img class="img-responsive" src="../assets/images/report.jpg">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          <p class="text">Lorem ipsum dolor sit amet, ne nam nibh iriure, ad sea graece nemore repudiare. Nam no debet
            perpetua, usu
            movet scripta et. Eos everti iracundia id, munere placerat no vis. Ex decore aliquam vix, eos et doming
            sanctus persequeris. No quo deterruisset delicatissimi, in novum omnesque voluptatum per.</p>

          <a>Download Excerpt</a>
        </div>
      </div>
    </div>
  </section>

  <section class="detailed-bottom-content">
    <div class="container-fluid">
      <div class="row top-row">
        <div class="col-lg-6 col-md-12">
          <h4>Key Analytics</h4>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="button membership white">
            <button class="btn white-btn">VIEW ALL FROM THIS REPORT</button>
          </div>
        </div>
      </div>
      <div class="row slider-images">
        <a>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <img src="../assets/images/slider-1.jpg" alt="slider-image" class="img-responsive shadow ">
          </div>
          <div class="col-lg-1 col-md-6 col-sm-12 col-xs-12 slider">
            <h5>SS17</h5>
            <div class="short-line"></div>
          </div>
        </a>

        <a>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <img src="../assets/images/slider-1.jpg" alt="slider-image" class="img-responsive shadow ">
          </div>
          <div class="col-lg-1 col-md-6 col-sm-12 col-xs-12 slider">
            <h5>Pink is in again</h5>
            <div class="short-line"></div>
          </div>
        </a>

        <a>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <img src="../assets/images/slider-1.jpg" alt="slider-image" class="img-responsive shadow ">
          </div>
          <div class="col-lg-1 col-md-6 col-sm-12 col-xs-12 slider">
            <h5>RTW SS18</h5>
            <div class="short-line"></div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
