<update-title title="The Color Naming Index"></update-title>
<!--<update-meta name="description" content="color index, color decision tools, color analysis tools"></update-meta>-->
<!--<update-meta name="keywords" content="Color Emotion Connections index, color emotions, color emotion theory,-->
<!--color and emotion research, color emotion associations, Color Celebrity index, Color Naming index, Color Names Index,-->
<!--Color Preference Index, Global Colors index, Color in Soccer index, Color Twits Index, color dictionary, Color social media"></update-meta>-->

<h4 class="text-left membership-product">HUEDATA MEMBERSHIP PRODUCT</h4>

<section id="color-emotion-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="color-ind">Color Indices - AVAILABLE FALL 2018</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12 col-md-12 col-sm-12 buttons-group title-color-index-block">
        <div class="title-color-index">The Color Naming Index</div>
        <div class="button membership">
          <button class="btn white-btn" ui-sref="productInquiry">PRODUCT INQUIRY</button>
        </div>
        <div class="line"></div>
      </div>


    </div>
  </div>
</section>

<section id="education-top" class="">
  <div class="container-fluid ">
    <div class="row color-names-block">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="color-names-index_item">
          <span class="big-num-color-naming">
            37
          <div class="modal-color-naming">
            <div class="modal-color-naming_text">
              The Colourlovers Database is composed of nearly one million colors uploaded and named by the 1.6 members of the Colourlovers community <p>(www.colourlovers.com)</p>
            </div>
          <div class="triangle-with-shadow"></div>
          </div>
        </span>
          <div class="title-color-naming">
            <span >COLOR  </span>
            <span >  ASSOCIATION</span>
            <span >  NAMES</span>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="color-names-index_item">
          <span class="big-num-color-naming">
            22
          <div class="modal-color-naming">
            <div class="modal-color-naming_text">
              The Colourlovers Database is composed of nearly one million colors uploaded and named by the 1.6 members of the Colourlovers community <p>(www.colourlovers.com)</p>
            </div>
          <div class="triangle-with-shadow"></div>
          </div>
          </span>
          <div class="title-color-naming">
            <span >PAINT  </span>
            <span >  COLOR</span>
            <span >  NAMES</span>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="color-names-index_item">
          <span class="big-num-color-naming">
            139
          <div class="modal-color-naming">
            <div class="modal-color-naming_text">
              The Colourlovers Database is composed of nearly one million colors uploaded and named by the 1.6 members of the Colourlovers community <p>(www.colourlovers.com)</p>
            </div>
          <div class="triangle-with-shadow"></div>
          </div>
          </span>
          <div class="title-color-naming">
            <span >COLOURLOVERS  </span>
            <span >  COLOR</span>
            <span >  NAMES</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="color-names-index_item">
          <span class="big-num-color-naming">
            18
          <div class="modal-color-naming">
            <div class="modal-color-naming_text">
              The Colourlovers Database is composed of nearly one million colors uploaded and named by the 1.6 members of the Colourlovers community <p>(www.colourlovers.com)</p>
            </div>
          <div class="triangle-with-shadow"></div>
          </div>
          </span>
          <div class="title-color-naming">
            <span >RESEARCH  </span>
            <span >  COLOR</span>
            <span >  NAMES</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center-color-block">
        <div class="button">
          <a class="btn join-btn" ui-sref='colorIndexAccordion'>NEXT</a>
        </div>
      </div>
    </div>
  </div>
</section>
