<div class="db-branding-content-details">
	<div class="dialog">
		<div class="dialog__header">
			<div class="button-close">
				<i class="fa fa-times" ng-click="closeClickHandler()"></i>
			</div>
		</div>
		<i class="fa fa-angle-left" ng-click="LeftButtonHandler()" style="font-size: 30px;position: absolute;margin-top: 200px;margin-left: 7px"></i>
		<div class="dialog__body">
			<div class="row">
				<div class="col cols-6">
					<label class="title">
						<img src="{{comtitle}}" style="width: auto;height: 100%"></label>
					<div class="row logo_title">LOGO COLORS</div>
					<div class="row">
						<div class="color_chart">
							<div style="">
								<canvas id="doughnut" class="chart_i chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="color" chart-options="option">
								</canvas>
							</div>
							<div style="margin-left: -55px">
								<div class="color_percent" ng-repeat="item in realdata">
									<div class="color_percent__bar" style="background-color: {{item.color.hex}};"></div>
									<div class="per">{{item.percentage.toFixed()}}%</div>
								</div>			
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 35px">
						<div class="col cols-3 color_info" ng-repeat="item in realdata">
							<div class="color_bar" style="background-color: {{item.color.hex}};"></div>
							<div class="color_name">{{item.title}}</div>
							<div class="color_value">{{item.color.rgb}}</div>
							<div class="color_value">{{item.color.hex}}</div>
						</div>
					</div>
				</div>
				<div class="col cols-6 contents">
					<div class="logo_details">
						<div class="sub_title"><strong>INDUSTRY</strong>: {{logodata.bio.industry_title}}</div>
						<div class="sub_title"><strong>CITY</strong>: CITY</div>
						<div class="sub_title"><strong>COUNTRY</strong>: {{logodata.bio.country}}</div>
						<div class="sub_title"><strong>URL</strong>: WWW.URL.com</div>
			
						<button type="button" class="btn btn-outline-secondary">
							<i class="glyphicon glyphicon-plus"></i> &nbsp;&nbsp;&nbsp;
							<span style="font-size: 13px !important">ADD TO MOODBOARD</span>
						</button>
						<div class="social-icon-groups" style="margin-top: 20px">
							<span class="fs-4 font-weight-medium" style="font-size: 14px;">SHARE</span>
							<i class="fa fa-facebook" ng-click="shareFacebook(data.image_src)"></i>
							<i class="fab fa-twitter" ng-click="shareTwitter(data.image_src)"></i>
							<i class="fa fa-pinterest" ng-click="sharePinterest(data.image_src)"></i>
							<i class="fab fa-google-plus-g" ng-click="shareGooglePlus(data.image_src)"></i>
						</div>
					</div>
					<div>
						<img class="logo_footer" src="../assets/images/logo-black.png" id="logo" alt="logo">
					</div>
				</div>
			</div>
		</div>
		<i class="fa fa-angle-right" ng-click="RightButtonHandler()" style="float: right;margin-top: -210px; font-size: 30px;width: 17px"></i>
	</div>
</div>
<style type="text/css">
	.sub_title, .color_info, .color_percent, .logo_title, span, label{
		font-family:"Open Sans" !important;
		font-size: 15px !important;
	}
	.dialog__body .cols-6 .title{
		text-align: center;
		width: 100%;
		height: 54px;
		font-weight:bold;
	}
	.logo_title{
		margin-top: 20px;
		font-size: 13px !important;
	}
	.logo_details{
		line-height: 17px !important;
		margin-top: 50px;
	}
	.color_chart{
		margin-left: -23px;
	}
	.contents{
		margin-top: -50px;
		border-left: 1px solid #ebebeb;
		height: 500px;
		margin-bottom: -120px;
	}
	.logo_footer{
		width: 40% !important;
		margin-top: 90px;
		float: right;
	}
	.btn-outline-secondary{
		font-weight:bold !important;
		height:48px !important;
		font-size: 14px !important;
		margin-top: 50px !important;
		padding: 8px 20px 18px 20px !important;
	}
	.social-icon-groups{
		font-size: 18px !important;
	}
	.per{
		font-size: 13px !important;
		font-weight: bold;
	}
	*{
		text-transform:uppercase !important;
	}
</style>