.color-frequency-pie-chart-container {
	display: inline-block;
	width: 265px;
	height: 200px;
	margin: 0 50px;

	.chart-container {
		width: 200px;
		height: 100%;
		float: left;

		.pie-chart {
			width: 160px;
			height: 160px;
			margin: 0 20px;
		}

		.designers-label-container {
			width: 200px;
			margin-top: 10px;
			text-align: center;

			.designers-count {
				font-family: "Oswald","Knockout 28 A","Knockout 28 B";
				font-size: 20px;
			}

			.designers-label {
				border-bottom: 1px solid #000;
				border-top: 1px solid #000;
				font-family: "Gotham Cond SSm A";
				font-size: 12px;
				font-weight: bold;
				padding: 1px 0;
				position: relative;
				text-transform: uppercase;
				top: -3px;
			}
		}
	}

	.color-title {
		width: 100px;
		height: 50px;
		margin-left: 50px;
		margin-top: 55px;
		position: absolute;
		font-family: 'Gotham SSm A';
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		display: inline-block;
		line-height: 50px;
		z-index: 20;
		transition: all 200ms ease-out;
		-webkit-transition: all 200ms ease-out;
		-moz-transition: all 200ms ease-out;
		-o-transition: all 200ms ease-out;
		-ms-transition: all 200ms ease-out;

		span {
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			word-break: break-all;
		}

		&.ng-hide {
			opacity: 0;
		}
	}

	.color-legend {
		margin-left: 20px;
		width: 45px;
		height: 100%;
		float: left;

		.carousel-button-up {
			width: 100%;
			height: 20px;
			background: url(../../../assets/img/icons/arrow-up.png) no-repeat center;
			cursor: pointer;
		}

		.carousel-button-down {
			width: 100%;
			height: 20px;
			background: url(../../../assets/img/icons/arrow-down.png) no-repeat center;
			cursor: pointer;
		}

		.caroufredsel_wrapper {
			margin: 0 !important;
		}

		.color-legend-item {
			font-family: "Oswald","Knockout 28 A","Knockout 28 B";
			font-size: 20px;
			border-top: 5px solid #fff;
			width: 100%;
			height: 40px;
			text-align: center;
			cursor: pointer;
			transition: all 200ms ease-out;
			-webkit-transition: all 200ms ease-out;
			-moz-transition: all 200ms ease-out;
			-o-transition: all 200ms ease-out;
			-ms-transition: all 200ms ease-out;

			.legend-item-unit {
				font-size: 0.6em;
				font-weight: 300;
			}
		}

		&.item-selected {
			.color-legend-item {
				opacity: 0.5;

				&.active {
					opacity: 1;
				}
			}
		}
	}
}
