.db-copyright-list {
	table {
		max-width: 950px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		border-spacing: 2px;
		border-collapse: separate;
	}

	th {
		text-transform: uppercase;
		background: #a6aba9;
		color: #fff;
		line-height: 32px;
		font-weight: normal;
	}

	td {
		div {
			height: 38px;
			margin: 2px 0;
		}

		a {
			cursor: pointer;
		}

		&:first-child div {
			border: 1px solid #ccc;
			cursor: pointer;
		}
	}
}

.db-copyright-list-pagination {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	border: 2px solid #ccc;
	margin-top: 20px;

	.pagination-button {
		width: 32px;
		line-height: 32px;
		color: #fff;
		background-color: #ccc;
		display: inline-block;
		cursor: pointer;

		&:first-of-type {
			float: left;
			border-right: 2px solid #ccc;
		}

		&:last-of-type {
			float: right;
			border-left: 2px solid #ccc;
		}

		&:hover {
			background-color: #ededed;
		}
	}

	.pagination-current {
		line-height: 32px;
		display: inline-block;
		color: #ccc;

		input {
			font-size: 14px;
			border: none;
			display: inline-block;
			height: auto;
			width: 45px;
			text-align: center;
      margin-bottom: 0;
      color: inherit;
      padding: 0;
		}

		span {
			display: inline-block;
			width: 45px;
		}
	}
}

.db-copyright-list-expanded {

	.cols{
		&>*{
			float:left;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			padding: 20px 30px;

			&:nth-child(1) {
				width: 66%;
				border-right: 1px solid #eee;
			}
			&:nth-child(2){
				width: 33%;

			}
		}
	}

	.pager{
		margin-top: 7px;
		&>*{
			display:inline-block;
			padding: 5px 6px;
			margin-right: 3px;
			cursor:pointer;

			&.active{
				font-weight:bold;
			}
		}
	}
	.colors-copyrights{
		margin-top: 12px;
		&>*{
			display:block;
			width: 20px;
			height: 30px;
			-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.2);
			-moz-box-shadow: 1px 2px 2px rgba(0,0,0,.2);
			box-shadow: 1px 2px 2px rgba(0,0,0,.2);

			float: left;
			margin-right: 5px;
			cursor: pointer;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		li{
			clear:both;
			margin-bottom: 12px;

			&:after{
				content:'';
				display:table;
				clear:both;
			}
			&>label{
				text-transform:uppercase;
				float: left;
				width: 30%;
				display: block;
				text-align:right;
				font-weight:bold;
				-webkit-box-sizing:border-box;
				-moz-box-sizing:border-box;
				box-sizing:border-box;
				padding-right: 16px;
				min-height: 1px;
			}
			&>div,&>span {
				float: left;
				width: 70%;
				&>*{
					display:block;

					&.color{
						width: 80px;
						height: 40px;
						cursor:pointer;
						-webkit-box-shadow: 1px 2px 2px rgba(0,0,0,.2);
						-moz-box-shadow: 1px 2px 2px rgba(0,0,0,.2);
						box-shadow: 1px 2px 2px rgba(0,0,0,.2);
					}
				}
			}
		}
	}
}
