<update-title title="Color Indices"></update-title>
<update-meta name="description" content="color index, color decision tools, color analysis tools"></update-meta>
<update-meta name="keywords" content="Color Emotion Connections index, color emotions, color emotion theory,
color and emotion research, color emotion associations, Color Celebrity index, Color Naming index, Color Names Index,
Color Preference Index, Global Colors index, Color in Soccer index, Color Twits Index, color dictionary, Color social media"></update-meta>

<h4 class="text-left membership-product">HUEDATA MEMBERSHIP PRODUCT</h4>

<section id="color-emotion-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="color-ind">Color Indices - AVAILABLE FALL 2018</h3>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 buttons-group">
        <div class="button membership">
          <button ng-if="$ctrl.getUser()" class="btn join-btn" ng-click="$ctrl.gotoElement('prefooter')">JOIN</button>

        </div>
        <div class="button membership">
          <button class="btn white-btn" ui-sref="productInquiry">PRODUCT INQUIRY</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="education-top">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-6 col-md-6 ">
        <img src="../assets/images/indices1.png" class="img-responsive shadow " alt="Image">
      </div>

      <div class="col-lg-6 col-md-6 ">
        <p>Color is strongly linked to emotional and non-emotional attributes. Research indicates that some of these
          associations are universal while others are product and cultural sensitive.
          Designing for a global customer base we need to account for the color connotations we evoke and ensure
          alignment between the color choice, preferences of the target audience and various contextual (cultural,
          genderspecific
          and product related) aspects.<br><br>
          HUEDATA Color Emotion Index (CEI) parses through thousands of research articles comprising the body of
          research conducted on color, to mine and surface these associations and carefully map them agains colors
          within
          the context of demographics, psychographics a product-related attributes when relevant. The CEI is further
          enriched by our active social listening on Twitter that monitor the popular voice on color and contrast it
          with
          research findings for further calibration and validation.<br><br>
          This Members-Only product allows you to benchmark and further modify your color choices against desired
          attributes to ensure your color massage is indeed on massage! </p>
      </div>
    </div>
  </div>
</section>

<section id="education">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4  col-sm-12 indices-block">
        <h5>Performance Analysis</h5>
        <p>Search for the meaning of colors using the two available color
          - attribute associations classifications:<br><br></p>
        <div class="left">
          <div class="color-ind-bar"><img src="../assets/images/emontional.png" alt="Image">
            <span>EMOTIONAL ATTRIBUTES INDEX</span>
          </div>

          <div class="color-ind-bar"><img src="../assets/images/non-emontional.png"
                                alt="Image">
            <span>NON-EMOTIONAL ATTRIBUTES INDEX</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 indices-block">
        <h5>CEI Interactive Color Upload</h5>
        <p>Stress-test the colors you’re considering agains the CEI to validate the
          colors evoke the attributes you’re looking for within the relevant
          product and demographic context. Simply upload your colors and we’ll
          analyze them for you.</p>
        <img src="../assets/images/indices2.png" class="img-responsive " alt="Image">
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12 indices-block">
        <h5>COLOR NAMING INDEX</h5>
        <p>With nearly 10 million color names in our system, HUEDATA
          can help you name your color right. Explore our color naming
          visualizations to identify best ways to communicate your color
          selection.<br><br></p>
        <img src="../assets/images/indices3.png" class="img-responsive  text-center" alt="Image">
      </div>
    </div>
  </div>
</section>
